{% macro sidebar(sidebar_title, item_list, list_type) %}
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ sidebar_title }}</h3>
    </div>
    <ul class="list-group">
      {% for item in item_list %}
        <li class="list-group-item">
          {% if list_type == 'package' %}
            <a href="{{ url_for('package_page.index', package=item)}}">{{ item }}</a>
          {% else %}
            <a href="{{ url_for('category_page.index', category=item)}}">{{ item }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
