<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
      <title>The Flask Toolbox - Find the package you want</title>
    {% endblock %}
    {% block style %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flask-toolbox.css') }}">
    {% endblock %}
  </head>
  <body>
    {% include 'header.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    {% block script %}
      <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
