{% import "macros/sidebar.html" as sidebar %}
{% import "macros/package_info.html" as package_info %}
{% extends 'base.html' %}
{% block body %}
<div class="well">
  <span class="category-name">{{ category.name }}</span>
  <span class="category-stats">Stats</span>
  <span class="category-description">{{ category.description }}</span>
</div>
<div class="col-md-8 package">
  {% for package in related_packages %}
  <div class="package-info well">
    <div class="row package-header">
      <div class="col-md-12">
        <h4>{{ package.name }}</h4>
      </div>
      <div class="col-md-12">
        <p>{{ package.description }}</p>
      </div>
    </div>
    {{ package_info.package_info(package) }}
  </div>
  {% endfor %}
</div>
{{ sidebar.sidebar(sidebar_title, packages_list)}}
{% endblock %}
