<div class="container">
  <div class="row footer">
    <div class="col-md-2 navigation">
      <p>Navigation</p>
      <ul class="navigation">
        <li><a href="{{ url_for('home_page.index') }}">Home</a></li>
        <li><a href="{{ url_for('categories_page.index') }}">Categories</a></li>
        <li><a href="{{ url_for('packages_page.index') }}">Packages</a></li>
        <li><a href='#'>Blog</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <p>Suggestions, Help & Contact</p>
      <p>blalbla foo bar fofofofoofofdjfs  dasdfsdfsdf dfsdfdsf asdfjkjlkj</p>
    </div>
    <div class="col-md-4">
      <p>Who</p>
      <p>
        The Flask Toolbox is brought to you since 2016 by <a href="https://github.com/lord63">lord63</a>.
        Feel free to contact him if you have something to say via <span>me@lord63.com</span>.
      </p>
    </div>
    <div class="col-md-2">
      <p>Currently, Flask Toolbox has NUM categories and NUM packages.
    </div>
  </div>
</div>
