<div class="container">
  <div class="row">
    <div id="logo" class="col-md-4">
      <a href='/'><img src="{{ url_for('static', filename='logo.svg') }}">Flask Toolbox</a>
    </div>
    <div class="col-md-offset-4 col-md-4">
      <ul class="navmenu">
        <li><a href="{{ url_for('home_page.index') }}">Home</a></li>
        <li><a href="{{ url_for('categories_page.index') }}">Categories</a></li>
        <li><a href="{{ url_for('packages_page.index') }}">Packages</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
