{% import "sidebar.html" as sidebar %}
{% extends 'base.html' %}
{% block body %}
<div class="well">
  <span class="package-name">{{ package.name }}</span>
  <span class="package-stats">Stats</span>
  <span class="package-description">{{ package.description }}</span>
</div>
<div class="col-md-8 well package-info">
  <div class="row package-basic">
    pakcage info.
  </div>
  <div class="row package-pypi">
    package pypi
  </div>
  <div class="row package-github">
    package github
  </div>
</div>
{{ sidebar.sidebar(sidebar_title, related_packages)}}
{% endblock %}
