{% import "macros/sidebar.html" as sidebar %}
{% extends 'base.html' %}
{% block body %}
<div class="well">
  All categories by name
</div>
<div class="col-md-8">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for category in categories %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="{{ 'heading%s'|format(category.name) }}">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
             href="{{ '#collapse%s'|format(category.name) }}" aria-expanded="false"
             aria-controls="{{ 'collapse%s'|format(category.name) }}">
            {{ category.name }}
          </a>
        </h4>
      </div>
      <div id="{{ 'collapse%s'|format(category.name) }}" class="panel-collapse collapse"
           role="tabpanel" aria-labelledby="{{ 'heading%s'|format(category.name) }}">
        <div class="list-group">
        {% for package in category.packages %}
          <li class="list-group-item">
            <a href="{{ url_for('package_page.index', package=package.name) }}">{{ package.name }}</a>
          </li>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{{ sidebar.sidebar(sidebar_title, category_list, 'category')}}
{% endblock %}
