<div class="container">
  <div class="row footer">
    <div class="col-md-2 navigation">
      <p>Navigation</p>
      <ul class="navigation">
        <li><a href="{{ url_for('home_page.index') }}">Home</a></li>
        <li><a href="{{ url_for('home_page.intro') }}">Intro</a></li>
        <li><a href="{{ url_for('category_page.index') }}">Categories</a></li>
        <li><a href="{{ url_for('package_page.index') }}">Packages</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <p>Suggestions, Help & Contact</p>
      <p>
        You can follow <a href="https://twitter.com/flask_toolbox">@flask_toolbox</a> on twitter to get the latest news.
        Ping him if you have any questions or suggestions. Also you can raise an issue on
        <a href="https://github.com/lord63/flask_toolbox/issues">github</a> to join in the development of flask_toolbox.
      </p>
    </div>
    <div class="col-md-4">
      <p>Who</p>
      <p>
        The Flask Toolbox is brought to you since 2016 by <a href="https://github.com/lord63">lord63</a>.
        Feel free to contact him if you have something to say via <span>me@lord63.com</span>.
      </p>
    </div>
    <div class="col-md-2">
      <p>Currently, Flask Toolbox has {{ category_num }} categories and {{ package_num }} packages.
    </div>
  </div>
</div>
