{% import "macros/sidebar.html" as sidebar %}
{% extends 'base.html' %}
{% block body %}
<div class="well">
  All packages by name
</div>
<div class="col-md-8">
  <ul class="list-group">
  {% for package in packages %}
    <li class="list-group-item">
      <a href="{{ url_for('package_page.show', package=package.name) }}">{{ package.name }}</a>
      <span class="badge packages-category">
        <a href="{{ url_for('category_page.show', category=package.category.name) }}">
          {{ package.category.name }}
        </a>
      </span>
      <span class="packages-description">{{ package.description }}</span>
    </li>
  {% endfor %}
  </ul>
</div>
{{ sidebar.sidebar(sidebar_title, package_list, 'package')}}
{% endblock %}
